<?xml version="1.0"?>
<launch>

  <arg name="use_reach" default="false"/>

<!-- Reach nmea driver -->
  <node pkg="nmea_navsat_driver" type="nmea_serial_driver" name="reach_nmea_driver" respawn="true">
    <param name="port" value="/dev/ttyUSB0"/>
    <param name="baud" value="57600"/>
    <param name="frame_id" value="reach_link"/>

    <remap from="/fix" to="/reach/fix"/>
    <remap from="/vel" to="/reach/vel"/>
    <remap from="/time_reference" to="/reach/time_reference"/>
  </node>

<!-- navsat_transform Clearpath GPS -->
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_cp_gps" 
  respawn="true" clear_params="true">
    <rosparam file="$(find gps_fusion)/config/cp_gps/navsat_transform.yaml" command="load" />

    <remap from="/gps/fix" to="/navsat/fix"/>
    <remap from="/odometry/gps" to="/odometry/cp_gps"/>
    <remap from="/gps/filtered" to="/gps/filtered/cp_gps"/>
  </node>

<!-- navsat_transform Reach GPS -->
  <node pkg="robot_localization" type="navsat_transform_node" name="navsat_transform_reach" 
  respawn="true" clear_params="true">
    <rosparam file="$(find gps_fusion)/config/reach/navsat_transform.yaml" command="load" />

    <remap from="/gps/fix" to="/reach/fix"/>
    <remap from="/odometry/gps" to="/odometry/reach"/>
    <remap from="/gps/filtered" to="/gps/filtered/reach"/>    
  </node>

<!-- Fused from Clearpath GPS -->
  <node pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_cp_gps" clear_params="true">
    <rosparam file="$(find gps_fusion)/config/cp_gps/ekf_localization.yaml" command="load" />

    <remap from="/odometry/filtered" to="/odometry/filtered/cp_gps"/>
  </node>

<!-- Fused from Reach GPS -->
  <node if="$(arg use_reach)" pkg="robot_localization" type="ekf_localization_node" name="ekf_localization_reach" clear_params="true">
    <rosparam file="$(find gps_fusion)/config/reach/ekf_localization.yaml" command="load" />

    <remap from="/odometry/filtered" to="/odometry/filtered/reach"/>
  </node>

</launch>
